* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 28px 3%;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .navel {
    display: flex;
    gap: 23px;
    font-family: "Work Sans";
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    .home {
      background-color: #1e1e1e;
      padding: 6px 11px;
      border-radius: 4px;
    }
    .findjob {
      padding: 6px 11px;
      border-radius: 4px;
      z-index: 2;
    }
    .findjob:hover {
      background-color: #1e1e1e;
      transition: 0.5s;
    }

    .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      p {
        font-size: 13px;
        background-color: #1e1e1e;
        padding: 3px 8px;
        border-radius: 50%;
      }
    }
    .pages {
      color: white;
      padding: 6px 11px;
      border-radius: 4px;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .pages:hover {
      background-color: #1e1e1e;
      transition: 0.5s;
    }
    .postjob {
      background-color: #1e1e1e;
      padding: 15px 27px;
      border-radius: 4px;
      border: 2px solid rgb(47, 46, 46);
      z-index: 2;
    }
    .postjob:hover {
      background-color: #2c56fe;
      transition: 0.5s;
    }
    .hamburger {
      display: none;
    }
  }

  @media only screen and (max-width: 988px) {
    .navel {
      .home {
        display: none;
      }
      .pages {
        display: none;
      }
      .findjob {
        display: none;
      }
      .hamburger {
        display: block;
        background-color: #1e1e1e;
        padding: 10px;
        border-radius: 4px;
        border: 2px solid rgb(47, 46, 46);
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  @media only screen and (max-width: 543px) {
    .navel {
      .postjob {
        display: none;
      }
      .cart {
        order: -1;
      }
    }
    img {
      max-width: 70%;
      height: auto;
    }
  }
}
@media only screen and (max-width: 543px) {
  .navbar {
    padding: 13px;
  }
}
.link {
  color: white;
  text-decoration: none;
}
.hero {
  .imgleft {
    position: absolute;
    top: 120px;
    left: 0;
  }
  .imgright {
    position: absolute;
    top: 0;
    right: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  background-color: #161616;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  .container {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    .spot {
      font-family: "Outfit";
      font-weight: 600;
      font-size: 72px;
      padding-top: 65px;
    }
  }
  .secondcont {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10.5%;
    .get {
      font-family: "Work Sans";
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 25px;
    }
    .search {
      font-family: "Work Sans";
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      z-index: 2;
      .left {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        gap: 20px;
        justify-content: space-between;
      }
      .find {
        font-size: 14px;
        text-align: left;
      }

      .input {
        width: 100%;
        background-color: #1e1e1e;
        color: white;
        border: 2px solid rgb(47, 46, 46);
        padding: 18px;
        border-radius: 4px;
      }
      input::placeholder {
        color: white;
        font-size: 14px;
      }
      input:focus {
        transition: 1s;
      }
      .explore {
        font-size: 18px;
        background-color: #2c56fe;
        color: white;
        padding: 20px 35px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }
      .explore:hover {
        background-color: #1e1e1e;
        transition: 0.5s;
      }
    }
  }
  @media only screen and (max-width: 543px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  @media screen and (max-width: 780px) {
    .container {
      max-width: 90%;
      .spot {
        font-size: 50px;
      }
    }
    .secondcont {
      max-width: 90%;
    }
  }
  @media only screen and (max-width: 543px) {
    .container {
      max-width: 86%;
    }
    .secondcont {
      .search {
        .left {
          flex-direction: column;
          gap: 30px;
        }
      }
    }
  }
}
.photos {
  background-color: #161616;
  width: 100%;
  text-align: center;

  .photocont {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    position: relative;
    font-family: "Work Sans";
    font-size: 13px;
    color: white;
    .img {
      max-width: 15%;
    }
    .leftcloud {
      position: absolute;
      top: -17%;
      left: 32%;
      max-width: 100%;
      height: auto;

      .first {
        top: 28%;
        right: 5%;
        position: absolute;
        rotate: 30deg;
      }
      .second {
        top: 40%;
        right: 30%;
        position: absolute;
        rotate: 30deg;
      }
    }
    .rightcloud {
      position: absolute;
      top: -25%;
      right: 14%;
      max-width: 100%;
      height: auto;
      .first {
        top: 25%;
        left: 25%;
        position: absolute;
        rotate: -30deg;
      }
      .second {
        top: 43%;
        left: 40%;
        position: absolute;
        rotate: -30deg;
      }
    }
    @media only screen and (max-width: 1380px) {
      .leftcloud {
        top: -25%;
        left: 32%;
      }
      .rightcloud {
        top: -30%;
        right: 15%;
      }
    }
    @media only screen and (max-width: 1100px) {
      .leftcloud {
        display: none;
      }
      .rightcloud {
        display: none;
      }
    }
  }
  padding-bottom: 7%;
}
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #161616;
  flex-direction: column;
  color: white;
  .aboutcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 65%;
    .supposing {
      font-size: 36px;
      font-family: "Outfit";
      font-weight: 600;
      padding-bottom: 5%;
    }
    .passage {
      font-family: "Work Sans";
      font-size: 18px;
      padding-bottom: 5%;
    }
    button {
      font-size: 18px;
      background-color: #2c56fe;
      color: white;
      padding: 13px 35px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-family: "Work Sans";
      margin-bottom: 10%;
    }
    button:hover {
      background-color: #1e1e1e;
      transition: 0.5s;
    }
  }
  @media only screen and (max-width: 1100px) {
    .aboutcont {
      max-width: 90%;
      .supposing {
        font-size: 30px;
      }
    }
  }
  @media only screen and (max-width: 540px) {
    .aboutcont {
      .supposing {
        font-size: 26px;
      }
      button {
        margin-bottom: 20%;
      }
    }
  }
  .grid {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    img {
      height: 80px;
      margin-bottom: 5%;
    }
    .griditem {
      padding: 0 3%;
      margin-bottom: 6%;
      .top {
        font-weight: 600;
        font-size: 22px;
        font-family: "Outfit";
        margin-bottom: 5%;
      }
      .bottom {
        font-size: 18px;
        font-family: "Work Sans";
        padding-bottom: 10%;
      }
    }
  }
}
.findjob {
  background-color: #161616;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .find {
    font-weight: 600;
    font-size: 60px;
    font-family: "Outfit";
    margin-bottom: 7%;
  }
  .leftside {
    gap: 4%;
    text-align: left;

    .category {
      display: flex;
      gap: 4%;
      font-size: 18px;
      font-family: "Work Sans";
      padding: 3%;
      border-radius: 4px;

      img {
        height: 25px;
      }
    }
    .category:hover {
      background-color: #2c56fe;
      transition: 0.5s;
    }
  }
  @media only screen and (max-width: 900px) {
    .find {
      font-size: 34px;
    }
    .leftside {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      .category {
        gap: 0%;
        margin-bottom: 12px;
        img {
          margin: 0 7px;
        }
      }
    }
  }
}
.findgrid {
  padding: 0 5%;

  padding-bottom: 11%;
  .rightside {
    text-align: left;
    .browse {
      font-size: 18px;
      background-color: #2c56fe;
      color: white;
      padding: 13px 35px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-family: "Work Sans";
    }

    .browse:hover {
      background-color: #1e1e1e;
      transition: 0.5s;
    }
    .jobs {
      background-color: #1e1e1e;
      border: 2px solid rgb(47, 46, 46);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4%;
      margin-bottom: 4%;
      cursor: pointer;
      img {
        height: 40px;
        width: 40px;
      }
      button {
        padding: 15px 30px;
        background-color: transparent;
        color: white;
        border: 2px solid rgb(47, 46, 46);
        border-radius: 4px;
        font-size: 18px;
        font-family: "Work Sans";
        cursor: pointer;
      }
      button:hover {
        background-color: #2c56fe;
        transition: 0.5s;
      }

      .type {
        font-size: 18px;
        font-family: "Work Sans";
        border-right: 2px solid rgb(47, 46, 46);
        border-left: 2px solid rgb(47, 46, 46);
        padding: 3.5%;
      }
      @media only screen and (max-width: 1040px) {
        .type {
          padding: 1.5%;
        }
      }
      .jobscont {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .inf {
          .jobname {
            font-size: 18px;
            font-family: "Outfit";
            font-weight: 600;
          }
          @media only screen and (max-width: 1040px) {
            .jobname {
              font-size: 15px;
            }
          }
          .location {
            display: flex;
            align-items: center;
            padding-top: 3px;
            p {
              font-size: 12px;
              font-family: "Work Sans";
            }
            img {
              width: 16px;
              height: 24px;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 770px) {
      .jobs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .jobscont {
          margin-bottom: 15px;
        }
        .type {
          border: none;
          margin-bottom: 5px;
          padding: 2% 0;
        }
        button {
          width: 100%;
        }
      }
    }
    @media only screen and (max-width: 500px) {
      .jobs {
        .jobscont {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
    .jobs:hover {
      transform: translateY(-5px);
      transition: transform 0.3s ease;
    }
    .jobs:not(:hover) {
      transform: translateY(0);
      transition: transform 0.3s ease;
    }
  }
}
.comment {
  background-color: #0e0e0e;
  color: white;
  padding: 13% 0 20% 3%;
  position: relative;
  .commentgrid {
    .trusted {
      font-weight: 600;
      font-size: 60px;
      font-family: "Outfit";
      padding-bottom: 3%;
    }
    @media only screen and (max-width: 1100px) {
      .trusted {
        font-size: 45px;
      }
    }
    @media only screen and (max-width: 500px) {
      .trusted {
        font-size: 37px;
      }
    }
    .moonlight {
      font-size: 18px;
      font-family: "Work Sans";
      padding-bottom: 6%;
    }
    .counts {
      display: flex;
      justify-content: space-between;
      .item {
        display: flex;
        flex-direction: column;
        gap: 7px;
        .cont {
          display: flex;
          align-items: center;
          .count {
            font-size: 36px;
            font-weight: 600;
            font-family: "Outfit";
          }
          .plus {
            font-size: 36px;
            font-weight: 600;
            font-family: "Outfit";
            color: #284ee2;
          }
        }
        .countname {
          font-size: 18px;
          font-family: "Work Sans";
        }
      }
    }
    @media only screen and (max-width: 385px) {
      .counts {
        display: flex;
        gap: 20px;
        flex-direction: column;
      }
    }
    @media only screen and (max-width: 1200px) {
      .counts {
        padding-right: 20px;
      }
    }
  }

  .head {
    max-height: 13%;
    position: absolute;
    bottom: 0;
    max-width: 100%;
  }
  .head1 {
    left: 0;
  }
  .head2 {
    left: 8%;
  }
  .head3 {
    left: 17%;
  }
  .head4 {
    left: 24%;
  }
  .head5 {
    left: 31%;
  }
  .head6 {
    left: 58%;
  }
  .head7 {
    right: 23%;
  }
  .head8 {
    right: 14%;
  }
  .head9 {
    right: 7%;
  }
  .head10 {
    right: 0;
  }

  @media only screen and (max-width: 1190px) {
    .head {
      max-height: 8%;
    }
    .head1 {
      left: 0;
    }
    .head2 {
      left: 10%;
    }
    .head3 {
      left: 20%;
    }
    .head4 {
      left: 29%;
    }
    .head5 {
      left: 38%;
    }
    .head6 {
      left: 49%;
    }
    .head7 {
      right: 30%;
    }
    .head8 {
      right: 20%;
    }
    .head9 {
      right: 10%;
    }
    .head10 {
      right: 0;
    }
  }

  @media only screen and (max-width: 800px) {
    .head {
      display: none;
    }
  }
}
.head {
  position: absolute;
  animation: jumpAnimation 1s;
}

@keyframes jumpAnimation {
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.custom-prev {
  height: 60px;
  width: 60px;
  border: 2px solid rgb(47, 46, 46);
  padding: 13px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 10px;

  margin-top: 20px;
}
.custom-next {
  height: 60px;
  width: 60px;
  border: 2px solid rgb(47, 46, 46);
  padding: 13px;
  cursor: pointer;
  border-radius: 50%;
}
.swipercont {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 35px;
  width: 400px;
  border-radius: 4px;

  .stars {
    display: flex;
    gap: 3px;
    .star {
      height: 16px;
      width: 16px;
    }
  }
  .moon {
    font-size: 18px;
    font-family: "Work Sans";
  }
  .information {
    display: flex;
    gap: 20px;
    .info {
      .name {
        font-size: 22px;
        font-weight: 600;
        font-family: "Outfit";
        margin-bottom: 5px;
      }
      .work {
        font-size: 14px;
        font-family: "Work Sans";
        color: #284ee2;
      }
    }
    .profile {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
  }
}
@media only screen and (max-width: 1320px) {
  .swipercont {
    width: 370px;
  }
}
@media only screen and (max-width: 900px) {
  .swipercont {
    width: 350px;
  }
}
@media only screen and (max-width: 735px) {
  .swipercont {
    width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .swipercont {
    width: 300px;
  }
}
///
.companysection {
  background-color: #161616;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 6% 3% 25% 3%;
  position: relative;
  overflow: hidden;

  button {
    padding: 15px 35px;
    background-color: #2c56fe;
    color: white;
    border: 2px solid rgb(47, 46, 46);
    border-radius: 4px;
    font-size: 18px;
    font-family: "Work Sans";
    cursor: pointer;
  }
  button:hover {
    background-color: #1e1e1e;
    transition: 0.5s;
  }
  .findfav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
  }
  .find {
    font-weight: 600;
    font-size: 60px;
    font-family: "Outfit";
    margin-bottom: 7%;
  }

  @media only screen and (max-width: 900px) {
    .find {
      font-size: 34px;
    }
    .leftside {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      .category {
        gap: 0%;
        margin-bottom: 12px;
        img {
          margin: 0 7px;
        }
      }
    }
  }

  .findcompany {
    position: absolute;
    top: 37%;
    right: 0;
    transition: transform 0.5s ease;
    .rightside {
      text-align: left;
      .jobs {
        background-color: #1e1e1e;
        border: 2px solid rgb(47, 46, 46);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        padding: 7%;
        max-width: 100%;
        margin-bottom: 4%;
        flex-direction: column;
        gap: 20px;
        cursor: pointer;
        .position {
          display: flex;
          justify-content: space-between;
          .browsejob {
            display: flex;
            align-items: center;
            gap: 7px;
            img {
              height: 20px;
              width: 20px;
            }
            p {
              font-size: 18px;
              font-family: "Work Sans";
              color: #284ee2;
            }
          }
        }
        @media (max-width: 770px) {
          .position {
            display: block;
          }
        }
        img {
          height: 40px;
          width: 40px;
        }
        button {
          padding: 15px 30px;
          background-color: transparent;
          color: white;
          border: 2px solid rgb(47, 46, 46);
          border-radius: 4px;
          font-size: 18px;
          font-family: "Work Sans";
          cursor: pointer;
        }
        button:hover {
          background-color: #2c56fe;
          transition: 0.5s;
        }

        .type {
          font-size: 18px;
          font-family: "Work Sans";
        }

        .jobscont {
          display: flex;
          align-items: center;
          gap: 15px;
          .jobicon {
            height: 60px;
            width: 60px;
          }
          .inf {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .jobname {
              font-size: 18px;
              font-family: "Outfit";
              font-weight: 600;
            }
            @media only screen and (max-width: 1040px) {
              .jobname {
                font-size: 15px;
              }
            }
            .place {
              font-size: 16px;
              font-family: "Work Sans";
            }
          }
        }
      }
      @media only screen and (max-width: 770px) {
        .jobs {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .jobscont {
            margin-bottom: 15px;
          }
          .type {
            border: none;
            margin-bottom: 5px;
            padding: 2% 0;
          }
          button {
            width: 100%;
          }
        }
      }

      .jobs:hover {
        transform: translateY(-5px);
        transition: transform 0.3s ease;
      }
      .jobs:not(:hover) {
        transform: translateY(0);
        transition: transform 0.3s ease;
      }
    }
  }
  @media (max-width: 1200px) {
    .findcompany {
      transform: none !important;
      position: static;
      transition: none;
    }
  }
  .findcompany2 {
    position: absolute;
    bottom: 7%;
    left: 0;
    transition: transform 0.5s ease;

    .rightside {
      text-align: left;
      .jobs {
        background-color: #1e1e1e;
        border: 2px solid rgb(47, 46, 46);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        padding: 7%;
        max-width: 100%;
        margin-bottom: 4%;
        flex-direction: column;
        gap: 20px;
        cursor: pointer;
        .position {
          display: flex;
          justify-content: space-between;
          .browsejob {
            display: flex;
            align-items: center;
            gap: 7px;
            img {
              height: 20px;
              width: 20px;
            }
            p {
              font-size: 18px;
              font-family: "Work Sans";
              color: #284ee2;
            }
          }
        }
        @media (max-width: 770px) {
          .position {
            display: block;
          }
        }
        img {
          height: 40px;
          width: 40px;
        }
        button {
          padding: 15px 30px;
          background-color: transparent;
          color: white;
          border: 2px solid rgb(47, 46, 46);
          border-radius: 4px;
          font-size: 18px;
          font-family: "Work Sans";
          cursor: pointer;
        }
        button:hover {
          background-color: #2c56fe;
          transition: 0.5s;
        }

        .type {
          font-size: 18px;
          font-family: "Work Sans";
        }

        .jobscont {
          display: flex;
          align-items: center;
          gap: 15px;
          .jobicon {
            height: 60px;
            width: 60px;
          }
          .inf {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .jobname {
              font-size: 18px;
              font-family: "Outfit";
              font-weight: 600;
            }
            @media only screen and (max-width: 1040px) {
              .jobname {
                font-size: 15px;
              }
            }
            .place {
              font-size: 16px;
              font-family: "Work Sans";
            }
          }
        }
      }
      @media only screen and (max-width: 770px) {
        .jobs {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .jobscont {
            margin-bottom: 15px;
          }
          .type {
            border: none;
            margin-bottom: 5px;
            padding: 2% 0;
          }
          button {
            width: 100%;
          }
        }
      }
      .jobs:hover {
        transform: translateY(-5px);
        transition: transform 0.3s ease;
      }
      .jobs:not(:hover) {
        transform: translateY(0);
        transition: transform 0.3s ease;
      }
    }
  }
  @media (max-width: 1200px) {
    .findcompany2 {
      position: static;
      transform: none !important;
      transition: none;
    }
  }
}
